<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/header.html :: head('Show Post')}">
</head>
<body>
<nav th:replace="~{partials/navbar.html :: navbar}"></nav>

<div class="container center">
    <div class="row">
        <div class="col-md-6">
            <div class="m-3">
                <h3>Title: <span th:text="${post.title}"></span></h3>
                <h5>Description: <span th:text="${post.body}"></span></h5>
                <h6>Contact: <span th:text="${post.user.email}"></span></h6>
                <form th:action="@{/posts/delete}" method="post">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <button type="submit" class="btn btn-danger mb-2">Delete</button>
                </form>
                <a th:href="@{/posts/{id}/edit (id=${post.id})}" class="btn btn-success">Edit</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{partials/footer.html :: footer}"></footer>
</body>
</html>