<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/header.html :: head('Guess')"></head>
<body>

<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="container text-center">
    <p>Random Numbers: <span th:text="${rolls.toString()}"></span></p>
    <p>Guessed Number: <span th:text="${n.toString()}"></span></p>
    <p>Times Correct: <span th:text="${correct.toString()}"></span></p>
    <a th:href="@{/roll-dice}">Try Again</a>
</div>

<footer th:replace="partials/footer.html :: footer"></footer>

</body>
</html>